data/*
**/*.pyc
**/__pycache__/
.vscode/*
**/*.json
**/__pycache__/*


leaderboard/leaderboard/scenarios/__pycache__/route_scenario.cpython-37.pyc
leaderboard/leaderboard/scenarios/__pycache__/scenario_manager.cpython-37.pyc
leaderboard/leaderboard/scenarios/__pycache__/route_scenario.cpython-37.pyc
log/TCP/lightning_logs/*
TCP/epoch=59-last.ckpt
TCP/ckpt/epoch=59-last.ckpt
TCP/ckpt/best_epoch=17-val_loss=0.699.ckpt
TCP/ckpt/best_epoch=26-val_loss=0.699.ckpt
leaderboard/team_code/interfuser.pth.tar
